body {
    color: #797979;
    background: #ffffff;
    font-family: georgia, sans-serif;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #414141;
}

a {
    color: #313131;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #ffad65;
}


.container-fluid {
    max-width: 1366px;
}

.btn {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: rgba(0, 56, 94, 0.95);
    border: 2px solid transparent;
    border-radius: 25px;
    transition: ease-out 0.3s;
}

.btn:hover {
    color:#ffad65;
}

/*********** Nav Bar CSS **********/
.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.navbar .navbar-brand {
    margin: 0;
    font-size: 45px;
    line-height: 0px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: .5s; 
}

/********** Profile CSS ***********/
.profile {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
    padding: 120px 0 0 0;
    overflow: hidden;
    background: linear-gradient(rgba(248, 252, 251, 0.95), rgba(0, 56, 94, 0.95));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile .profile-image {
    position: relative;
    text-align: right;
    padding-right: 75px;
}

.profile .profile-image img {
    max-width: 80%;
    max-height: 80%;
    filter: blur(0);
    /* mask-image: linear-gradient(to bottom right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 65%, rgba(0,0,0,0) 100%); */

}

.profile .profile-content {
    position: relative;
    padding-left: 75px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.profile .profile-text p {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile .profile-text h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.profile .profile-text h2 {
    display: inline-block;
    margin: 0;
    height: 35px;
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
}

.profile .profile-text .typed-text {
    display: none;
}

.profile .profile-text .typed-cursor {
    font-size: 35px;
    font-weight: 300;
    color: #ffffff;
}

.profile .profile-btn .btn {
    margin-top: 35px;
    margin-right: 5px;
    margin-left: 5px;
    color: rgba(0, 56, 94, 0.95);
    background: #ffffff;
    box-shadow: inset 0 0 0 50px #ffffff;
    border-radius: 25px;
}

.profile .profile-btn .btn:hover {
    color:#ffad65;
}

/******* Section Header ********/

.section-header {
    position: relative;
    margin-bottom: 45px;
}

.section-header p {
    display: inline-block;
    margin: 0 30px;
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ffffff;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 45px;
    font-weight: 700;
}

/********** About CSS **********/

.about {
    position: relative;
    width: 100%;
    margin: -45px 0 45px 0;
}

.about .section-header {
    margin-bottom: 30px;
}

.about .about-img {
    position: relative;
    height: 100%;
}

.about .about-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .about-content {
    padding: 0 60px;
}

.about .about-text p {
    font-size: 16px;
}

.about .about-text a.btn {
    margin-top: 15px;
}

/*********** portfolio CSS **********/

.portfolio {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.portfolio .portfolio-item {
    position: relative;
    margin-bottom: 30px;
}

.portfolio .portfolio-img {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.portfolio .portfolio-img img {
    width: 100%;
    transition: .5s;
}

.portfolio .portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio .portfolio-text {
    position: relative;
    padding: 30px;
    border-right: 1px solid rgba(0, 0, 0, .07);
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    border-left: 1px solid rgba(0, 0, 0, .07);
}

.portfolio .portfolio-text h2 {
    font-size: 25px;
    font-weight: 600;
}

.portfolio .portfolio-text p {
    margin-bottom: 10px;
}

.portfolio .portfolio-item a.btn {
    margin-top: 10px;
    padding: 8px 15px;
    border-radius: 25px;
}

/********* Footer CSS **********/
.footer {
    position: relative;
    margin-top: 45px;
    background: rgba(0, 56, 94, 0.95);
}

.footer .container-fluid {
    padding: 60px 0 0 0;
}

.footer .footer-info {
    position: relative;
    width: 100%;
    text-align: center;
}

.footer .footer-info h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

.footer .footer-info h3 {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}

.footer .footer-menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer .footer-menu p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    padding: 0 15px;
}

.footer .footer-social {
    position: relative;
    margin-top: 15px;
}

.footer .footer-social a {
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    color: #c5f9e4;
}

.footer .footer-social a :hover {
    color: #ffffff;
}

.footer .copyright {
    position: relative;
    text-align: center;
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}


